/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
}

.header-logo-img {
  /* 不要同时设置宽高，要让图片等比例缩放 */
  height: 30px;
}

.header-toggle {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
.header-toggle-bar {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #363636;
  border-radius: 2px;
}
.header-toggle-bar + .header-toggle-bar {
  margin-top: 4px;
}
.header-toggle-active {
  background-color: #f1f1f1;
}
.header-toggle-active .header-toggle-bar {
  background-color: #1428a0;
}

/* nav */
.nav-list {
  background-color: #fff;
}
.nav-link {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #363636;
  font-size: 14px;
  font-weight: bold;
}
.nav-link:hover {
  color: #1428a0;
}
