/* 缺点：可读性差，需要滚动多行 */
.header {
    width: 1000px;
}
.footer {
    color: blue;
}

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

/* .... 若干媒询....*/

@media screen and (min-width: 768px) {
    .header {
            width: 500px;
        }
    .footer {
        color: red;
    }
}
